.productCartWrapper {
    display: flex;
    background: #fff;
    max-width: 631px;
    width: 100%;
    height: 400px;
    border-radius: 40px;

}

.containerCart {
    min-height: 100vh;
    padding: 0 10px;
}

.cardsWrapperInCart img {
    border-radius: 40px;
    width: 300px;
    height: 400px;
}

.cardsWrapperInCart {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding: 100px 0;
    padding: 30px;
    margin-top: 50px;
}

.cartInfoBtn {
    height: 401px;
    width: 100%;
    padding-top: 42px;
    padding: 42px 14px 14px 14px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cartInfo>h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.cartInfo>p {
    color: #6c6c6c;
    font-size: 24px;
}

.cartBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.removeBtn,
.quantityBtnCart {
    max-width: 322px;
    width: 100%;
}

.cartForMobile {
    display: none;
}

@media screen and (max-width: 1397px) {
    /* .cardsWrapperInCart {
        padding: 70px; 
    } */

    .productCartWrapper {
        max-width: 48%;
    }
}

@media screen and (max-width: 1220px) {
    .cartInfo>h1 {
        font-size: 34px;
    }

    .cartInfo>p {
        font-size: 24px;
    }

    .productCartWrapper {
        max-width: 695px;
    }

    .cardsWrapperInCart {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 619px) {
    .cartInfo>h1 {
        font-size: 29px;
    }

    .cartInfo>p {
        font-size: 21px;
    }
}

@media screen and (max-width: 576px) {
    .cartInfo>h1 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .cartInfo>p {
        font-size: 20px;
    }

    .cardsWrapperInCart img {
        max-width: 200px;
        height: 250px;
        border-radius: 20px;
    }

    .cardsWrapperInCart {
        padding: 0;
    }

    .cartInfoBtn {
        height: 290px;
        padding: 10px;
        margin-bottom: 10px;
        height: 130px;
    }

    .removeBtn,
    .quantityBtnCart {
        max-width: 530px;
        width: 100%;
    }


    .productCartWrapper {
        display: flex;
        flex-direction: column;
    }

    .cartForDesctop {
        display: none;
    }

    .cartForMobile {
        display: block;
        padding: 20px 10px;
    }

    .cartImg {
        display: flex;
    }

    .productCartWrapper {
        height: 390px;
    }
}

@media screen and (max-width: 416px) {
    .cartForMobile {
        padding: 30px 5px;
    }

    .cartInfo>h1 {
        font-size: 18px;
    }

    .cartInfo>p {
        font-size: 16px;
    }

    .cartInfoBtn {
        margin: 0;
    }

}