.quantity {
	display: flex;
	/* max-width: 280px; */
	width: 100%;
	align-items: center;
	justify-content: space-between;
	background: var(--grey-color);
	padding: 5px 5px;
	width: 100%;
	border-radius: 40px;
	max-height: 53px;
}

.quantity {
	font-size: 30px;
	color: black;
}

.BtnPlusMinus {
	color: black;
	background: #fff;
	padding: 3px 30px;
	border-radius: 40px;
	font-size: 29px;
}