.quantity {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--grey-color);
	padding: 5px 5px;
	width: 100%;
	border-radius: 40px;
}
.quantity{
	font-size: 30px;
	color: black;
}
.BtnPlusMinus{
	color: black;
	background: #fff;
	padding: 1px 30px;
	border-radius: 40px;
	font-size: 30px;
}