.header>h1 {
    color: var(--cream-color);
    max-width: 840px;
    width: 100%;
    font-size: 65px;
    line-height: 90px;
}

.header {
    height: 75vh;
    display: flex;
    align-items: end;
    justify-content: start;
}

@media screen and (max-width: 850px) {
    .header>h1 {
        color: var(--cream-color);
        width: 100%;
        font-size: 55px;
        /* line-height: 90px; */
    }
}