.header>h1 {
    color: var(--cream-color);
    max-width: 840px;
    width: 100%;
    font-size: 65px;
    line-height: 90px;
}

.header {
    height: 75vh;
    display: flex;
    align-items: end;
    justify-content: start;
}

@media screen and (max-width: 850px) {
    .header>h1 {
        font-size: 55px;
    }
}

@media screen and (max-width: 709px) {
    .header {
        align-items: center;
    }

    .header>h1 {
        font-size: 49px;
        line-height: 70px;
    }
}

@media screen and (max-width: 557px) {
    .header>h1 {
        font-size: 30px;
        font-weight: 500;
        line-height: 50px;
    }
}