span {
    color: var(--burgandy-color);
}

.mainH1 {
    text-align: center;
    margin: 100px;
}

.mainInfo {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 41px;
}

.mainInfo>img {
    max-width: 700px;
    margin-bottom: 100px;
    border-radius: 40px;
}

.mainInfo p {
    font-size: 41px;
    font-weight: 600;
    max-width: 600px;
}