.navbarElememnts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.logo {
    color: var(--burgandy-color);
    width: 65px;
    height: 65px;
    background: #d9d9d9d2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.burgerMenuWrapper{
    display: none;
}
ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 0 15px;
}

li {
    color: black;
    display: flex;
    font-size: var(--text-size);
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
}

.navZone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    background: var(--burgandy-color-50);
    background: #d9d9d9d2;
    color: var(--cream-color);
    padding: 7px 10px;
    border-radius: 30px;
}
.burgerMenu{
    width: 70px;
    height: 70px;
    padding: 10px;
    background: #d9d9d9d2;
    border-radius: 50%;
}

@media screen and (max-width: 735px) {

    .navZone,
    ul {
        gap: 20px;
    }

    li,
    .navBtn {
        font-size: 18px;
    }
}

@media screen and (max-width: 640px) {

    .navZone,
    ul {
        gap: 18px;
    }

    li,
    .navBtn {
        font-size: 16px;
    }

    .navBtn {
        padding: 10px 20px;
    }
}

@media screen and (max-width: 540px) {

    .navZone {
        display: none;
    }
    .burgerMenuWrapper{
        display: block;
    }
}