.cardsWrapper {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 50px;
	flex-wrap: wrap;
	flex-direction: row;
	max-width: 98%;
}
.titleForPage{
	margin: 60px 0;
}