* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid red; */
	font-family: 'IBM Plex Sans Hebrew', sans-serif;
}

:root {
	--cream-color: #eeeeee;
	--grey-color: #D9D9D9;
	--burgandy-color: #8b0000;
	--burgandy-color-50: #8b000079;
	--text-size: 18px;
}

.body {
  background: var(--cream-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
	width: 100%;
	max-width: 1400px;
}
.container__Wapper {
	width: 100%;
	max-width: 1400px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn {
  background: var(--burgandy-color);
  color: var(--cream-color);
  padding: 15px 29px;
  border-radius: 25px;
  font-weight: 600;
  font-size: var(--text-size);
  border: none;
  cursor: pointer;
}
button{
  border: none;
}

span{
  color: var(--burgandy-color);
}